<div class="beerDiv">
    <img class="beerImg" src='{{image_url}}' alt='{{name}}-img'/>
    <h3><a class="names" href="/beers/{{id}}">{{name}}</a></h3>
    <p class="tagline">{{tagline}}</p>
    <P>{{description}}</P>
</div>
