<div class="randomBeer">
    <img class="randomPic"  src='{{image_url}}' alt='{{name}}-img'/>
    <div>
     <h2><b>{{name}}</b></h2>
     <h5 class="tagline"><b>{{tagline}}</b></h5>
    <P>{{description}}</P>
    <p><b>Food Pairing</b></p>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><b>Brewer Tips: </b>{{brewers_tips}}</p>   
    </div>
</div>